html {
    direction: rtl;
}
body {
    font-family: Cairo ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pageNum {
    width: 100%;
    text-align: center;
}
.pages {
    width: 100%;
    height: 100%;
    position: relative;
}
.pages .page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.pages .page.active {
    display: block;
}
.tip-container {
    width: 100%;
    height: 100%;
}
.tip p, 
.tip p ul li {
    width: 0px;
    height: 0px;
    transition: all 0.5s ease-in;
    display: none;
}
.tip.show p,
.tip.show p ul li {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in;
    display: block;
}
.accordion-button::after {
    margin-right: 20px !important;
}
figure {
    display: grid;
    place-items: center;
    border: 1px solid #000;
    z-index: 3;
}
figcaption {
    text-align: center;
    margin: 10px 0;
}